{
  email admin@qoyucoffee.kz
}

qoyucoffee.kz, www.qoyucoffee.kz {
  encode zstd gzip

  # /api/* — режем префикс, чтобы /api/docs -> /docs на backend
  handle_path /api/* {
    reverse_proxy qoyu-backend:8000
  }

  # /media/* — проксируем как есть
  handle /media/* {
    reverse_proxy qoyu-backend:8000
  }

  # всё остальное — фронт
  handle {
    reverse_proxy qoyu-web:80
  }
}
