{
    email admin@qoyucoffee.kz
}
qoyucoffee.kz, www.qoyucoffee.kz {
    encode gzip zstd

    @api path /api/*
    reverse_proxy qoyu-backend:8000

    @web not path /api/*
    reverse_proxy qoyu-web:80
}

